html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: #323643;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
}

.logo, .menu {
    display: flex;
    align-items: center;
}

.main_form, .main_description {
    padding: 30px;
}

.main_form form {
    width: 60%;
}

.logo_img {
    float: left;
}

.logo_name p {
    margin: 0;
}

#logo_first_name, #logo_last_name {
    font-family: futura;
    text-transform: uppercase;
}

#logo_first_name {
    font-size: 25px;
    margin-bottom: 5px;
}

#logo_last_name {
    font-size: 15px;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

textarea {
    min-height: 60px;
    max-height: 300px;
}

footer p {
    margin-bottom: .25rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* user page */

.user_data {
    width: 90%;
}

.user_photo, .user_info, .user_menu {
    margin: 30px;
}

.user_photo {
    width: 20%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.user_photo img {
    width: 100%;
    vertical-align: middle;
}