{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 sn-description">
            Main description of project
        </div>
        <div class="col-md-6 main-form">
            Form for login/registration
        </div>
    </div>
</div>
{% endblock %}